<mat-toolbar>
  <mat-toolbar-row class="container">
    <span class="spacer"></span>
    <mat-button-toggle-group
      name="playerToken"
      aria-label="Choose player token"
      hideSingleSelectionIndicator
      value={{token}}
      (change)="onTokenChange($event.value)"
      [disabled]="count > 0 ? true : false"
    >
      <mat-button-toggle
        value="❌"
        class="player-x-theme"
      >
        <span class="token">❌</span>
      </mat-button-toggle>
      <mat-button-toggle
        value="⭕️"
        class="player-o-theme"
      >
        <span class="token">⭕️</span>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <span class="spacer"></span>
  </mat-toolbar-row>
  <mat-toolbar-row class="container">
    <button
      mat-icon-button
      matTooltip="Reset board"
      aria-label="Reset board"
      (click)="resetBoard()"
    >
      <mat-icon>refresh</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-stroked-button>{{multiplayer ? "2 Player" : "1 Player"}}</button>
    <span class="spacer"></span>
    <button
      mat-icon-button
      matTooltip="Settings"
      aria-label="Settings"
      (click)="openDialog()"
    >
      <mat-icon>settings</mat-icon>
    </button>
	</mat-toolbar-row>
</mat-toolbar>
