.spacer {
  flex: 1 1 auto;
}
mat-stroked-button, mat-button-toggle-group {
  width: 114px;
}
mat-button-toggle {
  width: 50%;
}
.token {
  width: fit-content;
  height: fit-content;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
