<div class="container">
  <mat-card appearance="outlined">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
      <div class="board">
        @for (tile of board; track $index) {
          <div class="tile">
            <button
              [class]="tile === '⭕️' ? 'player-o-theme' : 'player-x-theme'"
              mat-button
              (click)="updateTiles($index)"
              [disabled]="win || count === 9"
              [class.tonal]="win?.includes($index)"
            >
              <span class="token">{{tile}}</span>
            </button>
          </div>
        }
      </div>
    </mat-card-content>
  </mat-card>
</div>
