.board {
  min-width: 300px;
  width: calc(100vh - 300px);
  max-width: 800px;
  min-height: 300px;
  height: calc(100vh - 300px);
  max-height: 800px;
  margin: 0 auto;
  // overflow: hidden;
}
mat-grid-list {
  background-color: var(--mat-sys-outline);
  // width: 600px;
}
mat-grid-tile {
  background-color: var(--mat-sys-surface-container-low);
  font: var(--mat-sys-display-large);
}
