// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme((
    color: (
      // theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
  @include mat.toolbar-overrides((
    title-text-size: --mat-sys-title-small,
  ));
  @include mat.button-overrides((
    filled-label-text-transform: uppercase,
    outlined-label-text-transform: uppercase,
    protected-label-text-transform: uppercase,
    text-label-text-transform: uppercase,
  ));
}/* You can add global styles to this file, and also import other style files */

.player-x-theme {
  @include mat.theme((
    color: mat.$azure-palette,
  ));
}
.player-o-theme {
  @include mat.theme((
    color: mat.$cyan-palette,
  ));
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--mat-sys-surface-container);
}

.container {
  max-width: 540px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  -webkit-font-smoothing: antialiased;
}
.token {
  background: var(--mat-sys-primary);
  background-color: var(--mat-sys-primary);
  background-clip: text;
  color: transparent;
  // padding: 0.25rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
button:disabled .token {
  background-color: var(--mat-sys-secondary);
}
